.body{
    width: 100%;
    height: auto;
     display: flex; 
     flex-direction: column;
}
h1{
    background-color: chartreuse;
    border: 2px solid green;
justify-content: center;
align-items: center;
text-align: center;
padding: 40px 10px;
font-size: larger;
font-weight: bold;
}
.body1{
    display: flex;
flex-direction: row;
gap: 10px ;
flex-flow: row;
width: 100%;
height: 100%;
}
.side-bar{
    background-color: chartreuse;
    border: 2px solid green;
    font-size: larger;
    width: 25%;
  min-height: 120px ;
    flex-grow: 0.0001;
   text-align: center;
     padding: 90px 0px ; 
     justify-content: center;
     align-content: center;
     font-weight: bold;

} 
.s1{
    background-color: chartreuse;
     border: 2px solid green;
    font-size: larger;
    align-content: center;
     font-weight: bold;
     justify-content: center;
     align-items: center;
     flex-grow: 1;
     width: 51em;
     padding: 50px 0px ;
     text-align: center;
}
.s2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100% ;
    gap: 10px;
  
}
.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box{
    background-color: chartreuse;
      background-color: chartreuse;
     border: 2px solid green;
    font-size: larger;
    align-content: center;
     font-weight: bold;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 25.1em;
     max-height: 6em;
       /* flex-grow: 0.5; */
        padding: 25px 0px;
}
footer{
     background-color: chartreuse;
      background-color: chartreuse;
     border: 2px solid green;
    font-size: larger;
    align-content: center;
     font-weight: bold;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin-top: 10px;
     min-height: 6em;
}